<a href="https://colab.research.google.com/github/aruna-1985/arunakumari-/blob/master/BigMartsales1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [4]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving train_BigMartSales_Preprocessed.csv.csv to train_BigMartSales_Preprocessed.csv.csv

In [9]:
train = pd.read_csv("train_BigMartSales_Preprocessed.csv.csv")

In [10]:
train.head()

   Item_Fat_Content_Low Fat  ...  Outlet_Identifier
0                         1  ...             OUT049
1                         0  ...             OUT018
2                         1  ...             OUT049
3                         0  ...             OUT010
4                         1  ...             OUT013

[5 rows x 40 columns]

In [11]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving test_BigMartSales_Preprocessed.csv.csv to test_BigMartSales_Preprocessed.csv.csv

In [12]:
test = pd.read_csv("test_BigMartSales_Preprocessed.csv.csv")

In [13]:
test.head()

   Item_Fat_Content_Low Fat  ...  Outlet_Identifier
0                         1  ...             OUT049
1                         0  ...             OUT017
2                         1  ...             OUT010
3                         1  ...             OUT017
4                         0  ...             OUT027

[5 rows x 40 columns]

In [14]:
train_X = train.drop(columns= ["Item_Outlet_Sales","Item_Identifier", "Outlet_Identifier"])

In [15]:
test_X = test.drop(columns= ["Item_Outlet_Sales","Item_Identifier", "Outlet_Identifier"])

In [16]:
train_y = train["Item_Outlet_Sales"]

In [17]:
model = LinearRegression()

In [18]:
model.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
pred_train = model.predict(train_X)
pred_test = model.predict(test_X)

In [20]:
pred_test = abs(pred_test)

In [21]:
print("RMSE of Train Data = ",np.sqrt(mean_squared_error(train_y, pred_train)))

RMSE of Train Data =  1127.7579566206157

In [22]:
#https://scikit-learn.org/stable/modules/model_evaluation.html#scoring

In [23]:
score = cross_val_score(model, train_X, train_y, cv = 10, scoring = "neg_root_mean_squared_error" )

In [24]:
score

array([-1165.04446963, -1138.37460037, -1123.31798712, -1121.63174236,
       -1122.41893765, -1110.78315406, -1116.96156014, -1142.97921986,
       -1139.51916616, -1146.68883668])

In [25]:
np.mean(np.abs(score))

1132.7719674034229

In [26]:
sample = pd.read_csv("https://datahack-prod.s3.amazonaws.com/sample_submission/sample_submission_8RXa3c6.csv")

In [27]:
sample.columns

Index(['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'], dtype='object')

In [28]:
sample["Item_Outlet_Sales"] = pred_test

In [29]:
sample.columns

Index(['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'], dtype='object')

In [30]:
sample.shape

(5681, 3)

In [31]:
test_result_upload = pd.concat([test[["Item_Identifier", "Outlet_Identifier"]], pd.DataFrame(pred_test)], axis = 1)

In [32]:
test_result_upload.columns = ['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales']

In [33]:
test_result_upload

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1829.356987
1              FDW14            OUT017        1556.480606
2              NCN55            OUT010        1882.605254
3              FDQ58            OUT017        2614.677418
4              FDY38            OUT027        5136.462241
...              ...               ...                ...
5676           FDB58            OUT046        2299.373457
5677           FDD47            OUT018        2467.643022
5678           NCO17            OUT045        1883.657933
5679           FDJ26            OUT017        3603.133774
5680           FDU37            OUT045        1349.362340

[5681 rows x 3 columns]

In [34]:
test_result_upload.to_csv("test_result_Linear_regression.csv", index = False)

In [35]:
model.coef_

array([-2.07750568e+01,  2.07750568e+01, -2.77714889e+00,  3.04826529e+00,
        1.47507627e+00,  2.36598396e+01, -5.37547096e+01, -3.03101136e+01,
        2.65798727e+01, -5.11926052e+01,  4.27910488e+00, -2.38302139e+01,
       -1.96179486e+00, -7.44099015e+00,  1.82529602e+02, -1.33059775e+01,
       -7.72669734e+01,  2.02687669e+01,  5.19696234e+02, -2.42532215e+02,
       -2.77164018e+02,  2.08072178e+02,  3.94131336e+01, -2.47485312e+02,
       -6.58014127e+02, -4.51793622e+02, -6.81412965e+02,  1.79122071e+03,
        3.73526642e+01, -1.03605650e+01, -2.69920992e+01, -6.58014127e+02,
        6.58014127e+02, -4.98760204e-01, -1.72828238e+02,  1.55776052e+01,
       -3.10548611e+01])

In [36]:
model.intercept_

685.6121244779956